<div class="content-app">
  <app-my-picture class="card-myPicture" [myPicture]="aMan"> </app-my-picture>
  <app-my-picture class="card-myPicture" [myPicture]="aWoman"></app-my-picture>
  <app-my-picture class="card-myPicture" [myPicture]="aBoy"></app-my-picture>
  <app-my-picture class="card-myPicture" [myPicture]="aHorse"></app-my-picture>
  <app-my-picture class="card-myPicture" [myPicture]="aCastle"></app-my-picture>
  <app-my-picture class="card-myPicture" [myPicture]="aWolf"></app-my-picture>
  <app-my-picture class="card-myPicture" [myPicture]="aLeaf"></app-my-picture>
</div>
