<div class="single-snap-shot">
  <!-- here the / for absolute route(start from..) and not relative route(add)-->
  <a class="back-arrow" routerLink="/snapshots"
    ><i class="fas fa-arrow-left"></i
  ></a>
  <div
    class="card"
    [ngClass]="{
      liked: buttonLiked === 'cancel',
      hated: buttonHated === 'cancel'
    }"
  >
    <div class="card-body">
      <div class="card-header-div">
        <h2 class="card-title">{{ snapShot.title | titlecase }}</h2>
        <div
          class="card-note"
          *ngIf="snapShot.likes > 199 || snapShot.hates > 199"
          [ngStyle]="{
            backgroundColor:
              'rgb(' + snapShot.hates + ', 0, ' + snapShot.likes + ')'
          }"
        ></div>
      </div>
      <p class="card-date-post">
        published on
        <span class="date-post">{{
          snapShot.createdDate | date: "short"
        }}</span>
      </p>
      <img
        [src]="snapShot.imageUrl"
        [alt]="snapShot.title"
        class="image-fluide card-img"
      />
      <p class="card-description">{{ snapShot.description }}</p>
      <p class="card-location" *ngIf="snapShot.location">
        picture was taken on
        <span class="location">{{ snapShot.location | lowercase }}</span>
      </p>
      <div class="content-reaction">
        <button (click)="onClickLiked()" class="btn btn-primary m-1">
          {{ buttonLiked }}
        </button>

        <div class="emoji-react">
          <span class="number-likes" *ngIf="snapShot.likes > 0"
            >{{ snapShot.likes }}
          </span>
          <fa-icon
            *ngIf="snapShot.likes > 0"
            [icon]="faThumbsUp"
            style="font-size: 16px; margin-top: -1px; color: #0d6efd"
          >
            {{ snapShot.thumbsUp }}</fa-icon
          >
        </div>

        <button (click)="onClickHated()" class="btn btn-danger m-1">
          {{ buttonHated }}
        </button>

        <div class="emoji-react">
          <span class="number-hates" *ngIf="snapShot.hates > 0"
            >{{ snapShot.hates }}
          </span>
          <fa-icon
            *ngIf="snapShot.hates > 0"
            [icon]="faThumbsDown"
            style="font-size: 16px; margin-top: 8px; color: #dc3545"
          >
            {{ snapShot.thumbsDown }}</fa-icon
          >
        </div>
      </div>
    </div>
  </div>
</div>
