<div class="card m-2">
  <div class="card-body">
    <h2 class="card-title">{{ myPicture.title }}</h2>
    <p>post it {{ myPicture.createdDate }}</p>
    <img
      [src]="myPicture.imageUrl"
      [alt]="myPicture.title"
      class="image-fluide card-img"
    />
    <p class="card-text">{{ myPicture.description }}</p>
    <p *ngIf="myPicture.location">
      the picture was taken : {{ myPicture.location }}
    </p>
    <div class="content-reaction">
      <button (click)="onClickLiked()" class="btn btn-primary m-1">
        {{ buttonLiked }}
      </button>

      <div class="emoji-react">
        <span class="number-likes" *ngIf="myPicture.likes > 0"
          >{{ myPicture.likes }}
        </span>
        <fa-icon
          *ngIf="myPicture.likes > 0"
          [icon]="faThumbsUp"
          style="font-size: 25px; margin-top: -5px"
          [ngStyle]="{ color: 'rgb(0, 0, ' + myPicture.likes + ')' }"
        >
          {{ myPicture.thumbsUp }}</fa-icon
        >
      </div>

      <button (click)="onClickHated()" class="btn btn-danger m-1">
        {{ buttonHated }}
      </button>

      <div class="emoji-react">
        <span class="number-hates" *ngIf="myPicture.hates > 0"
          >{{ myPicture.hates }}
        </span>
        <fa-icon
          *ngIf="myPicture.hates > 0"
          [icon]="faThumbsDown"
          style="font-size: 25px; margin-top: 8px"
          [ngStyle]="{ color: 'rgb(' + myPicture.likes + ', 0, 0)' }"
        >
          {{ myPicture.thumbsDown }}</fa-icon
        >
      </div>
    </div>
  </div>
</div>
