.card {
  display: grid;
  box-shadow: lightgrey 2px 2px 20px;
  .card-header-div {
    display: grid;
    grid-template-columns: 5fr 0fr;
    .card-title {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }
    .card-note {
      border: 1px solid white;
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }
  }
  .card-date-post {
    color: gray;
    font-size: 13px;
    .date-post {
      font-weight: bold;
    }
  }
  .card-img {
    height: 300px;
  }
  .card-description {
    font-size: 16px;
    margin-top: 1rem;
  }
  .card-location {
    font-size: 13px;
    color: #006680;
    .location {
      font-weight: bold;
    }
  }
  .content-reaction {
    display: grid;
    grid-template-columns: auto auto auto auto;
    .emoji-react {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
    .number-likes {
      color: #0d6efd;
      margin-right: 3px;
    }
    .number-hates {
      color: #dc3545;
      margin-right: 3px;
    }
  }
}

// for ngClass :
.liked {
  border: rgb(173, 233, 252) 3px solid;
}
.hated {
  border: rgb(253, 189, 189) 3px solid;
}
