.card {
  display: grid;
  box-shadow: lightgrey 2px 2px 20px;
}

.card:hover {
  background-color: rgb(251, 251, 251);
  box-shadow: 1px 1px 10px;
  -webkit-transition: all 250ms ease-in;
  -webkit-transform: scale(0.9);
  -ms-transition: all 250ms ease-in;
  -ms-transform: scale(0.9);
  -moz-transition: all 250ms ease-in;
  -moz-transform: scale(0.9);
  transition: all 250ms ease-in;
  transform: scale(0.9);
  cursor: pointer;
}

.card-title {
  font-size: 25px;
  font-family: "Caveat", cursive;
  margin-top: 16px;
}

.card-img {
  height: 300px;
}
