<header>
  <h1><a class="header-logo" routerLink="">snapShots</a></h1>

  <nav class="header-navbar">
    <ul class="navbar-list">
      <li class="list-item">
        <a
          class="item-home"
          routerLink=""
          routerLinkActive="ng-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="list-item">
        <a
          class="item-snapshots"
          routerLink="snapshots"
          routerLinkActive="ng-active"
          >snapShots</a
        >
      </li>
    </ul>
  </nav>
</header>
