header {
  background-color: #f0f0f0;
  height: 4rem;
  padding: 10px;
  margin-bottom: 2rem;
  box-shadow: lightgrey 2px 2px 20px;
  .navbar-brand {
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-family: "Caveat", cursive;
  }
  .collapse {
    flex-direction: row-reverse;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    .header-nav-home {
      text-decoration: none;
      color: black;
      width: 42px;
    }
    :hover {
      cursor: pointer;
      color: #0d6efd;
    }
    .header-nav-mypictures {
      text-decoration: none;
      color: black;
    }
    :hover {
      cursor: pointer;
      color: #0d6efd;
    }
    .ng-active {
      font-family: "Lobster Two", cursive;
      font-size: 18px;
      text-decoration: underline;
    }
  }
}
